# URL du backend en production (Railway)
EXPO_PUBLIC_API_URL=https://your-app.up.railway.app/api

# URL du backend en développement local
EXPO_PUBLIC_DEV_API_URL=http://192.168.1.12:8000/api

# Stripe
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_xxx
